/*--------------------------------------- General Styles ---------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/
.nav-item > a {
    text-align: center;
}
.nav-item > a:hover {
    border-radius: 20px;
    color: #d90368;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(217, 3, 104, 1);
    -moz-box-shadow: 0px 0px 20px 10px rgba(217, 3, 104, 1);
    box-shadow: 0px 0px 20px 10px rgba(217, 3, 104, 1);
}
li > .active {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(217, 3, 104, 1);
    -moz-box-shadow: 0px 0px 20px 10px rgba(217, 3, 104, 1);
    box-shadow: 0px 0px 20px 10px rgba(217, 3, 104, 1);
}

/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
}
.card {
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
}
.carousel-item,
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-item-img,
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.div-filtro-buscar {
    background-color: #eaecee;
}
.precio {
    margin: 0px;
    padding: 0px;
}
table {
    border-collapse: collapse;
}
tr,
td,
thead,
tbody,
table {
    border: 2px solid black;
    padding: 10px;
}
td{
    width: 100px;
}
.td-stats-general{
    background-color: rgb(182, 182, 182) !important;
    font-weight: bold;
}

.div-img-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.img-detail {
    width: 90%;
    height: 400px;
    object-fit: cover;
    -webkit-box-shadow: 5px 5px 5px 0px #d90368;
    -moz-box-shadow: 5px 5px 5px 0px #d90368;
    box-shadow: 5px 5px 5px 0px #d90368;
}
#contenedor {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.tarjeta {
    width: 340px;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    margin: 20px;
}
#category {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.caja {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
}
.par {
    float: left;
    font-weight: 500;
    margin-right: 5px;
}
.part {
    font-style: italic;
    font-weight: bold;
    background-color: #d90368;
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
}
.price {
    font-weight: bold;
    font-size: large;
}
.category-text {
    float: left;
    margin-right: 10px;
    font-style: italic;
    font-weight: bold;
    background-color: #d90368;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

/*--------------------------------------- Footer Styles ---------------------------------------*/

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 425px -------------------------------------------*/
@media screen and (min-width: 425px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    .card-body {
        height: 295px;
    }
    .card-title {
        height: 50px;
    }
    .card-text {
        height: 100px;
    }
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    .carousel-item-img {
        height: 300px;
    }
    .card-body {
        height: 280px;
    }
    .card-title {
        height: 50px;
    }
    .card-text {
        height: 80px;
    }
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    .carousel-item-img {
        height: 500px;
    }
    .card-body {
        height: 240px;
    }
    .card-title {
        height: 30px;
    }
    .card-text {
        height: 65px;
    }
    /*-------------------------- Footer Styles --------------------------*/
}
