/*--------------------------------------- General Styles ---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/
header {
    min-height: 15vh;
    background-color: blueviolet;
}
/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    background-color: aqua;
}
/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    min-height: 5vh;
    background-color: brown;
}

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
