/*--------------------------------------- General Styles ---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/
header {

}
/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
}
.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-item-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {

}

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    .carousel-item-img {
        height: 300px;
    }
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    .carousel-item-img {
        height: 350px;
    }
    /*-------------------------- Footer Styles --------------------------*/
}
